.googleSignIn-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.googleSignIn {
  width: 28%;
  background-color: #fff;
  height: fit-content;
  border-radius: 10px;
  position: absolute;
  right: 5%;
  top: 5%;
  border: 1px solid var(--separator-color);
}

.googleSignIn-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid var(--separator-color);
  color: var(--notification-color);
}

.googleSignIn-header > .googleSignIn-close:hover {
  background-color: var(--login);
  color: var(--nav-link);
}

.googleSignIn-header > .googleSignIn-close {
  border-radius: 50%;
  transition: all 0.3s ease;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.googleSignIn-header > h3 {
  font-weight: 500;
  font-size: 1rem;
}

.googleSignIn-btn {
  padding: 1em;
}

.googleSignIn-btn > button {
  width: 100%;
  padding: 0.7em 1.2em;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--nav-link);
  background-color: var(--link-color);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.googleSignIn-footer {
  padding: 1em;
}

.googleSignIn-footer > h5 {
  color: var(--notification-color);
  font-size: 0.95rem;
  font-weight: 500;
}
