.box {
  width: 200px;
  background-color: var(--nav-link);
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  height: 150px;
  border-radius: 5px;
  border: 1px solid var(--separator-color);
}

.box > img {
  width: 50%;
}

.box > h5 {
  padding-bottom: 1em;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  color: var(--notification-color);
}
